- cache ['stories-index', Story.cache_key, page_param, filter_params] do
  - if @stories.empty?
    .breaker.lg
    .lead.text-center
      There aren't any articles here yet.

  = render partial: 'list'