- @title = 'Newsroom: Self-hosted news reader'

.row
  .col-md-12
    .info.text-center
      .logo
        :plain
          <span class="char-1">N</span><span class="chars-rest">ewsroom</span>

      .logo-sub
        The simple and snappy self-hosted newsreader

      = image_tag "newsroom-index.png", class: "newsroom-index-img"

      .description
        %p
          Newsroom is a newsreader written in Ruby on Rails that
          is a pleasure to use and a breeze to tweak.

        %p
          To try it out for yourself, view the setup instructions on github.


      .text-center
        = link_to "https://github.com/nzaillian/newsroom", class: "github-link" do
          %i.icon.fa.fa-github
          View on Github
